<div class="bg-off-white pv4" id="{{ .heading | urlize }}">
  <div class="ph3 mw8 center">
    <h2 class="f2 tc b lh-title mb2">{{ .heading }}</h2>
    <p class="mb4 mw6">{{ .description }}</p>
    <div class="flex-ns flex-wrap justify-center-ns mhn2-ns mb3">
      {{ range .blurbs }}
        <div class="ph2-ns w-25-ns mb4">
          <img src="{{ .image }}" alt="" />
          <h3 class="b">{{ .title }}</h3>

          <!-- The Modal -->
          <div id="{{ .id }}-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close" id="{{ .id }}-close">&times;</span>
              <h3 class="b mb2">{{ .title }}</h3>
              <p>{{ .text }}</p>
            </div>
          </div>

          <button class="pure-button" id="{{ .id }}-btn">
            &#8594; Részletek megtekintése
          </button>
        </div>
      {{ end }}
    </div>
  </div>
</div>
