<div class="pv4" id="{{.heading | urlize}}">
	<div class="ph3">
		<h2 class="f2 tc b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw6">{{.description}}</p>

		<div>
			{{ range $index, $element := .blurbs }}
			{{ if modBool $index 2 }}

			<div class="up-4">
				<div class="wrapper mw8 center">
					<div class="text" data-aos="fade-up">
						<h3 class="b f3">{{ .title }}</h3>
						<p>{{ .text }}</p>
					</div>
					<div class="illustration-wrapper" data-aos="fade-up">
						<img src="{{ .image }}" alt="" class="illustration">
					</div>
				</div>
			</div>

			{{ else }}

			<div class="up-4" style="background-color: #f7f8fa;">
				<div class="wrapper mw8 center">
					<div class="illustration-wrapper" data-aos="fade-up">
						<img src="{{ .image }}" alt="" class="illustration">
					</div>
					<div class="text" data-aos="fade-up">
						<h3 class="b f3">{{ .title }}</h3>
						<p>{{ .text }}</p>
					</div>
				</div>
			</div>

			{{ end }}
			{{ end }}

		</div>
	</div>
</div>