<div class="flex-m items-center mhn3-m mb4" id="{{.heading | urlize}}">

  <div class="ph3-m w-50-m">
    <div class="timeline">
      {{ range $index, $element := .timeline }}
      <div data-aos="zoom-in-up" class="container">
        <div class="content">
          <h2>{{$element.heading}}</h2>
          <p>{{$element.text}}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text}}</p>
  </div>
</div>