<div data-aos="fade-up" class="flex-m items-center mhn3-m mb4">

  <div class="ph3-m w-50-m order-last-m">
    <img src="{{.imageUrl}}" alt="" class="db mb2">
  </div>

  <div class="ph3-m w-50-m">
    <h3 class="f3 b lh-title mb1">{{.heading}}</h3>
    <p>{{.text}}</p>
  </div>

</div>

<div class="timeline">
  {{ range $index, $element := .timeline }}
  {{ if modBool $index 2 }}
  <div data-aos="fade-up" class="container left">
    <div class="content">
      <h2>{{$element.heading}}</h2>
      <p>{{$element.text}}</p>
    </div>
  </div>
  {{ else }}
  <div data-aos="fade-up" class="container right">
    <div class="content">
      <h2>{{$element.heading}}</h2>
      <p>{{$element.text}}</p>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>