<nav
  class="nav overflow-x-scroll pl5 overflow-x-visible-ns flex justify-start items-center center relative"
>
  <!-- Primary Nav -->
  <ul class="flex">
    <li><a href="/" class="pa3 no-underline db">Főoldal</a></li>
    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Bemutatkozás</button>
        <div class="dropdown-content">
          <a href="/bemutatkozás#versenyz%C5%91" class="no-underline db"
            >Versenyző</a
          >
          <a href="/bemutatkozás#edz%C5%91" class="no-underline db">Edző</a>
          <a href="/bemutatkozás#sportpszichol%C3%B3gus" class="no-underline db"
            >Sportpszichológus</a
          >
          <a
            href="/bemutatkozás#egyetemi-tan%C3%A1rseg%C3%A9d"
            class="no-underline db"
            >Egyetemi tanársegéd</a
          >
        </div>
      </div>
    </li>

    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Sportpszichológia</button>
        <div class="dropdown-content">
          <a
            href="/sportpszichológia#szolg%C3%A1ltat%C3%A1saim"
            class="no-underline db"
            >Szolgáltatásaim</a
          >
          <a href="/sportpszichológia#m%C3%B3dszereim" class="no-underline db"
            >Módszereim</a
          >
          <a
            href="/sportpszichológia#aj%C3%A1nl%C3%A1saim"
            class="no-underline db"
            >Ajánlásaim</a
          >
        </div>
      </div>
    </li>
    <li><a href="/cikkek" class="pa3 no-underline db">Írások</a></li>
    <li><a href="/kapcsolat" class="pa3 no-underline db">Kapcsolat</a></li>
  </ul>
</nav>
