<nav
  class="nav overflow-x-scroll pl5 overflow-x-visible-ns flex justify-start items-center center relative"
>
  <!-- Primary Nav -->
  <ul class="flex">
    <li><a href="/" class="pa3 no-underline db">Főoldal</a></li>
    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Bemutatkozás</button>
        <div class="dropdown-content">
          <a href="/bemutatkozás#versenyz%C5%91" class="no-underline db"
            >Versenyző</a
          >
          <a href="/bemutatkozás#edz%C5%91" class="no-underline db">Edző</a>
          <a href="/bemutatkozás#sportpszichol%C3%B3gus" class="no-underline db"
            >Sportpszichológus</a
          >
          <a
            href="/bemutatkozás#egyetemi-tan%C3%A1rseg%C3%A9d"
            class="no-underline db"
            >Egyetemi tanársegéd</a
          >
        </div>
      </div>
    </li>

    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Sportpszichológia</button>
        <div class="dropdown-content">
          <a
            href="/sportpszichológia#szolg%C3%A1ltat%C3%A1saim"
            class="no-underline db"
            >Szolgáltatásaim</a
          >
          <a href="/sportpszichológia#m%C3%B3dszereim" class="no-underline db"
            >Módszereim</a
          >
          <a
            href="/sportpszichológia#aj%C3%A1nl%C3%A1saim"
            class="no-underline db"
            >Ajánlásaim</a
          >
        </div>
      </div>
    </li>

    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Kapcsolat</button>
        <div class="dropdown-content">
          <a
            href="/kapcsolat#El%C3%A9rhet%C5%91s%C3%A9gek"
            class="no-underline db"
            >Elérhetőségek</a
          >
          <a href="/kapcsolat#%C3%81rak" class="no-underline db">Árak</a>
          <a href="/kapcsolat#Kapcsolatfelv%C3%A9tel" class="no-underline db"
            >Bejelentkezés</a
          >
          <a href="/kapcsolat#Szerz%C5%91d%C3%A9s" class="no-underline db"
            >Lemondási feltételek</a
          >
        </div>
      </div>
    </li>

    <li>
      <div class="pa3 dropdown">
        <button class="dropbtn">Tudományos munkák</button>
        <div class="dropdown-content">
          <a
            href="/cikkek#Tudom%C3%A1nyos%20munk%C3%A1k"
            class="no-underline db"
            >Publikációk és konferenciák</a
          >
          <a
            href="/cikkek#Let%C3%B6lthet%C5%91%20anyagok"
            class="no-underline db"
            >Letölthető anyagok</a
          >
        </div>
      </div>
    </li>
    <li>
      <a href="https://www.facebook.com/szemes.agnes">
        <img alt="Qries" src="/icons/facebook.svg" width="40" height="70" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/%C3%A1gnes-szemes-57b669121/">
        <img alt="Qries" src="/icons/linkedin.svg" width="40" height="70" />
      </a>
    </li>
  </ul>
</nav>
