{{ define "main" }}
  <div class="bg-off-white pv4">
    <h2 class="f2 b tc lh-title mb3">Cikkek</h2>
    <div class="mw6 center">
      <a
        target="_blank"
        href="https://m2.mtmt.hu/gui2/?type=authors&mode=browse&sel=10054707"
        >Magyar Tudományos Művek Tára</a
      >
    </div>
  </div>

  <div class="bg-off-white pv4">
    <h2 class="f2 b tc lh-title mb3">Online elérheto anyagok</h2>
    <div class="mw6 center">
      <ul>
        <li class="mb3">
          <a href="/pdf/CBB2017 (2).pdf" download
            >Age-related differences in motivational climate and
            extrinsic-intrinsic motivational factors among members of the
            Hungarian national wrestling teams</a
          >
        </li>
        <li class="mb3">
          <a href="/pdf/CBB2017.pdf" download
            >Sport motivation and perceived motivational climate among members
            of a national para-swimming team</a
          >
        </li>
        <li class="mb3">
          <a href="/pdf/CBB2019.pdf" download
            >An exploratory analysis of recreational and competitive athletes’
            superstitious habits</a
          >
        </li>
      </ul>

      <ul>
        <li class="mb3">
          <a href="/pdf/MSTT 2015.pdf" download
            >Sportmotiváció és flow élmény vizsgálata társastáncok körében</a
          >
        </li>
        <li class="mb3">
          <a href="/pdf/MSTT 2017.pdf" download
            >Különböző életkorú élvonalbeli birkózok észlelt motivációs
            környezetének és külső-belső motivációs tényezőinek összehasonlító
            vizsgálata</a
          >
        </li>
        <li class="mb3">
          <a href="/pdf/MSTT 2019.pdf" download
            >Komplex sportpszichológiai felkészítés hatásvizsgálata utánpótlás
            korú tornászok körében</a
          >
        </li>
      </ul>

      <a href="/pdf/UT.pdf" download
        >„A felkészülés több részből áll és csak együtt válik sikeres egésszé”-
        interjú</a
      >
    </div>
  </div>
{{ end }}
