{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" "/img/tudomanyos_munkak.jpg" "title" "Tudományos munkák" "color" "white") }}
<div class="bg-off-white mt4">
  <div class="mw6 center tc f3 b lh-title" id="Tudományos%20munkák">
    <a target="_blank" href="https://m2.mtmt.hu/gui2/?type=authors&mode=browse&sel=10054707">Publikációk és
      konferenciák</a>
  </div>
</div>

<div class="ph2">
  <div class="bg-off-white pv4">
    <h1 class="f2 b tc lh-title mb3" id="Let%C3%B6lthet%C5%91%20anyagok">
      Letölthető anyagok
    </h1>
    <div class="mw7 center">
      <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button w3-dark-grey" onclick="openCity(event, 'english-articles')">
          English articles (EN)
        </button>
        <button class="w3-bar-item w3-button" onclick="openCity(event, 'hungarian-articles')">
          Magyar cikkek (HU)
        </button>
        <button class="w3-bar-item w3-button" onclick="openCity(event, 'media')">
          Médiamegjelenések
        </button>
      </div>

      <div id="english-articles" class="tab-item">
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            Psychometric properties of the Hungarian adaptation of the Sport
            Motivation
          </h2>
          <div>
            <img class="blog-image" src="/img/motivation.jpeg" alt="motivation" />

            <div class="tj">
              Current research on sport motivation mostly focuses on the
              Self-Determination Theory, which has brought a qualitatively
              novel approach in the field by making a distinction between six
              types of motivation. The present study tested the reliability
              and validity of the Hungarian adaptation of the Sport Motivation
              Scale II (SMS-II) with a large sample of athletes. The
              assessment of the psychometric properties focused on the factor
              structure, construct validity and convergent validity of the
              Hungarian version. The sample included 1197 Hungarian athletes
              aged 11 to 67 years, who engaged in more than 50 different
              sports. The test battery comprised the Hungarian adaptations of
              the SMS-II, the Satisfaction With Life Scale (SWLS-H), the
              Rosenberg Self-Esteem Scale (RSES), the Competitive State
              Anxiety Inventory 2 (CSAI-2), and the Flow State Questionnaire
              (PPL-FSQ). Considering that each subscale of the SMS-II consists
              of only three items, all subscales showed acceptable internal
              consistency. A confirmatory factor analysis revealed that the
              original sixfactor model showed the best fit with the data. All
              fit indices obtained for this model fell within the acceptable
              range. The examination of construct validity revealed the
              expected simplex pattern of the subscales, while the
              associations between the SMS-II and the measures used to test
              convergent validity were consistent with those obtained in
              previous studies. The Hungarian version of the SMS-II provides a
              reliable and valid measure of sport motivation based on the
              Self-Determination Theory. The only inconsistency between the
              observed data and the theoretical model was that intrinsic
              motivation did not show a closer association with integrated
              regulation than with identified regulation, which finding is
              probably related to the contents of the involved subscales. A
              possible future direction of construct validity analysis and
              improvement may be focused on content refinement. Specifically,
              the construct validity of the Hungarian SMS-II could possibly be
              improved by completing the items assessing intrinsic motivation
              with references to the positive experience directly related to
              the activity itself.
            </div>
          </div>
          <a href="/pdf/JPES2021.pdf" class="secondary" download>&#8594; continue reading</a>
        </div>
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            A comparative analysis of national Olympic swimming team members’
            and para-swimming team members’ psychological profiles
          </h2>
          <div>
            <img class="blog-image" src="/img/uszoda.jpeg" alt="uszoda" />

            <div class="tj">
              Being an elite Para-athlete requires coping with unique
              challenges beyond those posed by performance improvement. In the
              current study, we aimed to reveal possible differences in
              various psychological profiles between elite Para-swimmers (n =
              18) and able-bodied swimmers (n = 35) competing at Olympic level
              to identify the yet unknown psychological drawbacks of being a
              disabled elite swimmer. An additional aim was to explore
              possible gender differences and differences between successful
              and less successful swimmers too. Using several measurements, we
              assessed 10 sports-related psychological constructs: cognitive
              anxiety, self-confidence, somatic anxiety, coping with
              adversity, peaking under pressure, goal setting/mental
              preparation, concentration, freedom from worry,
              self-confidence/achievement motivation, and coachability.
              Able-bodied swimmers scored lower on somatic anxiety and higher
              on self-confidence, freedom from worry, and
              self-confidence/achievement motivation than Paralympics
              swimmers. When the tests were repeated separately for men and
              women, the results remained unchanged for women, whereas
              able-bodied male athletes only scored significantly higher than
              male Para-swimmers on self-confidence and freedom from worry.
              Furthermore, medal winning athletes, in the overall sample
              exhibited less cognitive and somatic anxiety than those ranking
              fourth or lower at the Olympic Games. Para-swimmers with
              different levels of disability did not differ from each other in
              any of the measures. The findings show that Para-swimmers
              experience psychological disadvantages in contrast to
              able-bodied swimmers that should be addressed in their training
              regimen.
            </div>
          </div>
          <a href="/pdf/CBB20192.pdf" class="secondary" download>&#8594; continue reading</a>
        </div>
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            Age-related differences in motivational climate and
            extrinsic-intrinsic motivational factors among members of the
            Hungarian national wrestling teams
          </h2>
          <div>
            <img class="blog-image" src="/img/birkozas.jpg" alt="birkozas" />

            <div class="tj">
              In sport psychology, research regarding athletes’ motivation and
              perceived motivational climate is becoming more and more
              popular. The major aim of the present study was to investigate
              whether sport motivation and the perceived motivational climate
              of the members of the Hungarian national wrestling team varried
              depending on the age-group of the wrestlers. Our results
              indicated that Amotivation presented a descending pattern with
              age, the youngest players (10-19 years old) attaining highest
              levels of Amotivation, while the 19-25 years-old agegroup the
              lowest. Although Amotivation increased somewhat in the 25-28
              years old age group, this increase was not significant.
              Regarding the use of external regulation factors, our findings
              showed that the youngest age group (10-19 years old) relied
              significantly more on these mechanisms. Consequently, our
              findings suggest that the youngest wrestlers are more prone to
              lose their motivation and rely on extrinsic regulation factors
              in order to be motivated. These aspects have practical
              importance as a supportive attitude shown by coaches may meet
              athletes’ basic psychological needs specific for their age, thus
              increasing their motivation for preparation and competition.
            </div>
          </div>
          <a href="/pdf/CBB2017 (2).pdf" class="secondary" download>&#8594; continue reading</a>
        </div>

        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            Sport motivation and perceived motivational climate among members
            of a national para-swimming team
          </h2>

          <div>
            <img class="blog-image" src="/img/parauszas.jpg" alt="parauszas" />

            <div class="tj">
              Swimming is one of the most popular sport domains due to its
              beneficial physiological effects in both typical and disabled
              individuals. However, although they are just as successful as
              their non-disabled counterparts, little is known about what
              motivates disabled swimmers. This study aimed to reveal the
              sport motivation and perceived motivational climate of these
              swimmers in comparison with similar data obtained from
              non-disabled swimmers. The sample included 18 members of the
              Hungarian national para-swimming team (Mage = 26.33 years, SD =
              10.81), admitted to the 2016 IPC Swimming European Open
              Championships in Funchal, Portugal. Findings showed that
              athletes scored high on both intrinsic and extrinsic motivation,
              while also reporting a more task-oriented climate compared to
              the Hungarian average. Compared to men, women reported having
              environmental support for effort/ improvement to a higher
              degree, while men scored higher for intra-team member rivalry.
              Importantly, compared to their non-disabled counterparts,
              disabled swimmers reported higher levels of motivation and
              scored higher on perception of an ego-oriented climate. Taken
              together, our findings confirm the assumption that disabled and
              non-disabled athletes show more similarities than differences,
              but also point out the importance of research on the structure
              of highly successful athletes’ motivations, which can provide
              unique insights regarding their potential.
            </div>
          </div>
          <a href="/pdf/CBB2017.pdf" class="secondary" download>&#8594; continue reading</a>
        </div>

        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            An exploratory analysis of recreational and competitive athletes’
            superstitious habits
          </h2>
          <div>
            <img class="blog-image" src="/img/babona.jpg" alt="babona" />

            <div class="tj">
              The sport’s rituals are an integral part of athletes’ life, and
              they may largely contribute to their coping with uncertainty and
              regaining control over competition. This study explored the
              popularity, perceived effectiveness and characteristic types of
              sports superstitions among 383 recreational and competitive
              athletes. Furthermore, the study revealed factors underlying the
              characteristics of superstitious habits. The results of the
              questionnaire survey showed that 55.1% of the athletes had at
              least one superstition, among which pre-match rituals proved the
              most popular. Nearly 70% of superstitious athletes reported the
              belief that their rituals had an influence on their performance.
              The mean perceived effectiveness of rituals was 3.21 on a
              5-point scale. The number of superstitions was found to be
              positively related to the level of athletic activity, to the
              importance of success and to the athletes’ subjective sense of
              achievement. Furthermore, the type of the pursued sport also
              influenced the number of superstitions: among the five sports
              included in the analysis, the smallest number of rituals was
              reported by athletes pursuing racket sports, while the highest
              frequency was shown by handball players.
            </div>
          </div>

          <a href="/pdf/CBB2019.pdf" class="secondary" download>&#8594; continue reading</a>
        </div>
      </div>

      <div id="hungarian-articles" class="tab-item" style="display:none">
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            A motiváció mint folyamat értelmezése az LTAD keretében - doktori disszertáció
          </h2>
          <div>
            <img class="blog-image" src="/img/doktori.jpeg" alt="doktori" />

            <div class="tj">Kutatásom elsődleges célja utánpótláskorú versenyzők motivációjának és a hozzá szorosan
              kapcsolódó pszichés tényezőknek
              (motivációs környezet, flow élmény, kiégés) a komplex felmérése hazánk legnépszerűbb egyéni (úszás) és
              csapatsportágában
              (labdarúgás). Kutatásom másik célja, hogy egy ritkán alkalmazott módszertani eljárással megvizsgáljam egy
              7 alkalmas
              motivációt fejlesztő sportpszichológiai programcsomag hatását a Jövő Bajnokai program néhány résztvevőjén.
              Első
              vizsgálati mintámat olyan 11 és 16 év (M=13,51 év, SD=1,33 év) közötti tehetséges sportolók alkották, akik
              az elmúlt 4
              év versenyeredményeinek rangsorolása alapján mindig a legjobb 10-ben szereplő egyesületek leigazolt
              versenyzői. Összesen
              420 fő vett részt a kutatásban. Második vizsgálati mintámat 11 éves versenyzők (1 fiú, 2 lány) alkották,
              akik egy hetes
              időbeli csúsztatással kapták az egyéni foglalkozásokat folyamatos teljesítmény mérésekkel kiegészítve. A
              kapott
              eredmények alátámasztják a szakirodalomban leírtakat, és megerősítik a 2016- ban elindult hazai utánpótlás
              fejlesztési
              törekvések pozitív hatását a sportolók lelki világára, valamint a sportpszichológiai módszerek
              hatékonyságát is. Fontos
              azonban a továbbiakban kiemelt figyelmet szentelni a mikro és a makro környezet támogatási rendszerének
              összeegyeztetésére és az edző-sportoló-szülő háromszög együttműködésének segítésére sportpszichológusok
              által a sportból
              való korai kilépés, valamint kiégés megelőzése, és a sport élvezeti értékének fenntartása érdekében.</div>
          </div>
          <a href="/pdf/doktori_ertekezes.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
        </div>
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            A sportpszichológiai segítségnyújtásra irányuló attitűdök, valamint a sport típusa és a versenyszint közötti
            összefüggések vizsgálata hazai sportolói mintán
          </h2>
          <div>
            <img class="blog-image" src="/img/sportpszichologus-attitud.jpg" alt="sportpszichologus attitud" />

            <div class="tj">A sportpszichológia az elmúlt évtizedekben rohamosan fejlődő területté vált, főként
              akadémiai területen (Gee, 2010). Az
              alkalmazott terület fejlődésének előmozdítása érdekében szükség van a sportolók attitűdjeinek
              feltérképezésére, mert
              nemcsak a sportpszichológia gyakorlásának szándékára (Greaser, 1992), hanem az elsajátított mentális
              készségek
              alkalmazási szintjére is hatással vannak (Bull, 1994). A sportpszichológusokkal kapcsolatos attitűdök
              mérésére dolgozták
              ki a Sport Psychology Attitudes – Revised Form kérdőívet (SPA-R; Martin, Kellmann, Lavallee & Page, 2002),
              melyet e
              kutatással célunk magyar mintán is tesztelni, továbbá megnézzük van-e különbség a sporttípusok, valamint
              versenyszint
              alapján. A vizsgálatban 539 sportoló vett részt, közülük 339 fő egyéni, míg 200 fő csapatsportoló,
              országos
              bajnokságokon 379 fő, míg nemzetközi versenyeken 160 fő indul. A kérdőívre adott válaszaik alapján a
              vizsgált
              sportolóknak alacsony a stigmatizációtól való félelme, közepes a kulturális preferenciája, míg magas a
              sportpszichológusokba vetett bizalom és nyitottság értéke. A kulturális preferencián kívül az összes többi
              faktor
              esetében szignifikáns különbség jelenik meg az egyéni és a csapatsportolók között, míg a versenyzés
              szintje alapján mind
              a négy faktorban mutatkozik szignifikáns különbség a csoportok között. Úgy véljük a kutatással sikerült
              megerősíteni
              több, a sportpszichológusokkal kapcsolatos attitűdöket vizsgáló szakirodalmi eredményt, ugyanakkor több
              érdekes
              megfigyelést is tettünk a hazai sportolók hozzáállásával kapcsolatban.</div>
          </div>
          <a href="/pdf/MSTT2022.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
        </div>
        <div class="mb3">
          <h2 class="f3 blog-title secondary b">
            A sportolói kiégés kérdőív hazai adaptációja
          </h2>
          <div>
            <img class="blog-image" src="/img/futok.jpeg" alt="futok" />

            <div class="tj">
              Jelen tanulmány célja a Sportolói Kiégés Kérdőív (ABQ, Raedeke
              és Smith, 2001) magyar változatának pszichometriai vizsgálata, a
              mérőeszköz reliabilitásának és validitásának ellenőrzése. A
              kérdőív érvényességét és megbízhatóságát egy 1317 fős kényelmi
              mintán ellenőriztük. A fent említett kérdőív mellett felvételre
              került a Sportkörnyezet Kérdőív (SCQ-H; Deci, 2001; Kovács,
              Gyömbér, F. Földi és Lénárt, megjelenés alatt), a
              Sportmotiváció-2 Kérdőív (SMS-2; Smohai és mtsai, 2019) és a
              Majdnem Tökéletes Skála rövid változata (SAPS; Reinhardt, Tóth
              és Rice, 2019). A megerősítő faktoranalízis az eredeti
              faktorstruktúrát alátámasztó eredményeket mutatott, három
              elkülönülő faktort kaptunk (Kimerültség; Leértékelés;
              Teljesítmény csökkenése). A kérdőív skáláinak belső
              megbízhatósága megfelelőnek bizonyult (Cronbach α: 0,76–0,86).
              Az időbeli stabilitás vizsgálata során pozitív erős kapcsolatot
              találtunk a teszt-reteszt között [Kimerültség – r(121) = 0,92, p
              < 0,001; Leértékelés– r(123)=0,90, p < 0,001; Teljesítmény csökkenése – r(123)=0,60, p < 0,001]. A
                konvergens validitás vizsgálata során a korábbi kutatásokkal megegyező, gyenge-közepes korrelációkat
                kaptunk (r=–0,20–0,52) a sportolói kiégés három skálája és a sportmotiváció típusai, az észlelt edzői
                autonómiatámogatás mértéke és a perfekcionizmus formái között. A kérdőív magyarra fordított változata
                pszichometriailag megfelelő mérőeszköznek tekinthető, kiváltképp serdülők körében alkalmazva. </div>
            </div>

            <a href="/pdf/MPSZ2020.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Sportmotiváció és flow élmény vizsgálata társastáncok körében
            </h2>
            <div>
              <img class="blog-image" src="/img/tarsastanc.jpg" alt="tarsastanc" />

              <div class="tj">
                A tánc, különbözô sportágakkal összehasonlítva, meglehetôsen
                kevés tudományos vizsgálatot és megjelent szakirodalmat tudhat
                magáénak, pedig hasonló teljesítményt igényel, mint a legtöbb
                sport. Komplex mozgásforma, mivel össze kell hangolni nemcsak a
                saját testünk mozgását, hanem a mozdulatainkat a zenével és a
                partnerünkkel is, figyelni kell arra, hogy helyesen végezzük a
                technikai elemeket, eközben pedig lehengerlô elôadást nyújtsunk
                és élvezetet sugározzunk. De vajon mi motiválhatja a táncosokat?
                Kutatásunkban társastáncosokat kerestünk meg, és azt a célt
                tûztük ki magunk elé, hogy megvizsgáljuk, milyen tényezôk
                motiválják ôket, illetve mit éreznek tánc közben, mindezt pedig
                befolyásolhatja-e a nemük, az életkoruk, vagy a tánctudásuk
                szintje. Vizsgálatunk során az eredeti 7 faktoros
                sportmotivációs kérdôívet, illetve a legújabb flow kérdôívet
                alkalmaztuk. Összesen 113 fô, 61 nô és 52 férfi vett részt a
                vizsgálatban, melyet internetes kérdôív formájában végeztünk. A
                sportmotivációra vonatkozóan eredményül azt kaptuk, hogy a nôk
                inkább belsôleg motiváltak, külsô motiváció és amotiváció esetén
                viszont nem különböznek a férfiaktól; nem mutatható ki életkori
                különbség; tánctudásbeli eltérés pedig az extrinzik motivációnál
                jelentkezik. A flow élményre vonatkozóan megfigyeltük, hogy
                autotelikus élmény esetén szignifikáns a nemek közti különbség;
                az életkori csoportok között csak a kontrollérzés kapcsán
                látható kisebb különbség; valamint tánctudásbeli eltérés a flow
                mélyebb szintjén lévô összetevôknél mutatkozik. A kapott
                eredmények alátámasztanak korábbi kutatási eredményeket, viszont
                felvetnek újabb kérdéseket, melyek további vizsgálatokat
                igényelnek.
              </div>
            </div>

            <a href="/pdf/MSTT 2015.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Komplex sportpszichológiai felkészítés hatásvizsgálata utánpótlás
              korú tornászok körében
            </h2>
            <div>
              <img class="blog-image" src="/img/torna.jpg" alt="torna" />

              <div class="tj">
                A sportpszichológiában számos módszert alkalmaznak a mentális
                felkészítés részeként, leginkább az imaginációt, a belső
                beszédet és a célállítást használják a sportpszichológusok
                (Weinberg és Gould, 1999). Az elmúlt időszakban nemzetközi
                szinten egyre népszerűbbé váltak az egyéni szintű (idiografikus)
                kutatások, mert általuk könnyebb és gyorsabb a különféle
                sportpszichológiai beavatkozások megértése és az alkalmazott
                módszerek értékelése (Barker és mtsai, 2011). Kutatásunk célja
                az volt, hogy egyénfókuszú kísérleti elrendezésben (EFK)
                megvizsgáljuk milyen hatása van egy komplex sportpszichológiai
                felkészítő programnak utánpótláskorú tornász versenyzők
                motivációjára, önbizalmára, versenyszorongására és
                sportteljesítményére. A vizsgálatban 3 fiú tornász vett részt,
                akik 8 és 10 év közöttiek voltak. A 8 alkalmas komplex mentális
                felkészítést megelőzően és az utolsó alkalmat követően felmértük
                a motivációjukat (BRSQ, Tóth és Reinhardt validálása alatt) és
                az önbizalmukat, szorongásszintjüket is (CSAI-2, Sipos és mtsai,
                1999), a foglalkozások ideje alatt pedig folyamatosan mértük
                edzőjük segítségével a páros körgyakorlat során nyújtott
                teljesítményüket. Különböző mértékű változásokat találtunk a PND
                mutató (percentage of non-overlapping data; átfedésben lévő
                pontok százalékos mutatója) és hatásmérték alapján a
                teljesítményben, mely a sportpszichológiai felkészítés
                hatásaként értelmezhető, valamint pozitív változás volt
                megfigyelhető az első és a második kérdőív felvétel
                átlagértékeiben is. A kapott eredmények bizonyítják, hogy egy
                kevésbé elfogadott kutatási módszer jól használható a
                gyakorlatban, továbbá felhívják a figyelmet a
                sportpszichológusok mentális felkészítésben való szerepére már
                utánpótlás korban is (Barker és mtsai, 2013).
              </div>
            </div>

            <a href="/pdf/MSTT 2019.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
          </div>

          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Különböző sportágakban versenyző sportolók sportmotivációjának és
              flow élményének összehasonlító vizsgálata
            </h2>
            <div>
              <img class="blog-image" src="/img/sportagak.jpg" alt="sportagak" />

              <div class="tj">
                Külső vagy inkább belső tényezők motiválják a
                versenysportolókat? És vajon átélik-e az optimális élményt
                versenyzés közben? Kutatásunkban ezekre a kérdésekre igyekszünk
                választ találni különböző sportágak versenyzőinek segítségével.
                Vizsgálatunk során az eredeti 7 faktoros sportmotivációs
                kérdőívet és a legújabb sportbeli low élményt mérő kérdőívet
                alkalmaztuk. Összesen 115 fő, 57 nő és 58 féri vett részt a
                vizsgálatban (40 taktikai, 35 állóképességi, 20 művészi, 20
                küzdősportoló), melyet internetes kérdőív for- májában
                végeztünk. A sportmotivációra vonatkozóan azt tapasztaltuk, hogy
                a küzdőspor- tokat űzők a leginkább belsőleg motiváltak, míg a
                low élményre vonatkozóan azt igyeltük meg, hogy a művészi
                sportok esetén jelenik meg a legkevésbé az élmény. Megvizsgáltuk
                az esetlegesen nemi, életkori és teljesítménybeli különbségeket
                is, de egyedül a nemek között jelentkezett szigniikáns eltérés a
                sportágak között. A kapott eredmények alátá- masztanak korábbi
                kutatási eredményeket, viszont felvetnek újabb kérdéseket is,
                melyek további vizsgálatokat igényelnének.
              </div>
            </div>

            <a href="/pdf/TST.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
          </div>
        </div>

        <div id="media" class="tab-item" style="display:none">
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Megjelent a Dobbantó- A sportpszichológia tankönyve I. kötete!
            </h2>
            <div>
              <img class="blog-image" src="/img/dobbanto.jpg" alt="dobbanto" />
            </div>
            <a href="https://www.sporteslelek.hu/kiadvanyaink"
              class="secondary">https://www.sporteslelek.hu/kiadvanyaink</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Jövő Bajnokai – képzési programok kiváló szakemberekkel
            </h2>
            <div>
              <img class="blog-image" src="/img/jovo_bajnokai.jpg" alt="dobbanto" />
            </div>
            <a href="https://musz.hu/jovo-bajnokai-kepzesi-programok-kivalo-szakemberekkel"
              class="secondary">https://musz.hu/jovo-bajnokai-kepzesi-programok-kivalo-szakemberekkel</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Folytatódik a Jövő Bajnokai program!
            </h2>
            <div>
              <img class="blog-image" src="/img/eloadas.jpg" alt="eloadas" />
            </div>
            <a href="https://musz.hu/programok/jovo-bajnokai/programok"
              class="secondary">https://musz.hu/programok/jovo-bajnokai/programok</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              IFMA Muaythai Európa Bajnokság - MMSZ csapatkapitányok beszámolója
            </h2>
            <div>
              <img class="blog-image" src="/img/thaibox.jpg" alt="thaibox" />
            </div>
            <a href="https://www.muaythai.hu/2022/02/28/ifma-muaythai-europa-bajnoksag-2022-%F0%9F%87%B9%F0%9F%87%B7isztambul-mmsz-csapatkapitanyok-beszamoloja-%F0%9F%87%AD%F0%9F%87%BA-vonatkozasban/"
              class="secondary">https://www.muaythai.hu/2022/02/28/ifma-muaythai-europa-bajnoksag-2022-%F0%9F%87%B9%F0%9F%87%B7isztambul-mmsz-csapatkapitanyok-beszamoloja-%F0%9F%87%AD%F0%9F%87%BA-vonatkozasban/</a>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              Sport-Levelup workshop
            </h2>
            <div>
              <img class="blog-image" src="/img/levelup.png" alt="babona" />
              <div class="tj">
                „Bírjam rá a reggeli edzésre vagy inkább engedjek és hagyjam aludni? Legyek ott és szurkoljak vagy
                inkább csak messziről
                támogassam a versenyen? Adjak még neki időt vagy váltsunk most?”
                A döntéshozatal, ahogy a mindennapokban, úgy a sport világában is sarkalatos kérdés nemcsak a sportolók,
                az edzők, hanem
                a szülők részéről is. De vajon melyek azok a tényezők, amelyek jobb döntéshez vezetnek? Léteznek-e
                általánosnak
                tekinthető döntéshozatali stílusok és ezeken mennyire lehet változtatni? Ilyen és ehhez hasonló témákról
                beszélgetünk
                majd egy workshop keretében, melyen Szemes Ágnes sportpszichológus, a Testnevelési Egyetem Gazdaság és
                Döntéstudományi
                Kutatóközpontjának munkatársa volt a vendégünk.
              </div>
            </div>
            <a href="https://sport-levelup.hu/coaching-szemleletu-szulok-workshop-sorozat"
              class="secondary">https://sport-levelup.hu/coaching-szemleletu-szulok-workshop-sorozat</a>
          </div>
          <div class="mb5">
            <h2 class="f3 blog-title secondary b tc">
              Országos Úszó oktatói Webkonferencia
            </h2>
            <div class="flex justify-center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Eaxoutg5V7k?start=831"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="mb5">
            <h2 class="f3 blog-title secondary b tc">OTDK páros portré</h2>
            <div class="flex justify-center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6MS2BY7mhk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="mb3">
            <h2 class="f3 blog-title secondary b">
              „A felkészülés több részből áll és csak együtt válik sikeres
              egésszé”- interjú
            </h2>
            <div>
              <img class="blog-image" src="/img/interju.jpg" alt="babona" />

              <div class="tj">
                A 2000-es évek óta Magyarországon is egyre inkább kezdtek
                elterjedni az edzést kiegészítő eljárások, melynek köszönhetően
                egyre több olimpikon felkészítésében sportpszichológus is részt
                vesz. Viszont sokakban még mindig kérdés, pontosan miben is tud
                segíteni egy sportpszichológus? Erről kérdeztük Szemes Ágnes
                sportpszichológust, aki főként utánpótlás versenyzőkkel, köztük
                több úszóval is foglalkozik már évek óta.
              </div>
            </div>
            <a href="/pdf/UT.pdf" class="secondary" download>&#8594; olvasásának folytatása</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}