{{ define "main" }}
  <div class="home-into">
    <div class="intro-text">
      <h2 class="h1-text name">Szemes Ágnes</h2>
      <h4>
        <span
          class="typewrite"
          data-period="2000"
          data-type='[ "Pszichológus", "Sportszakpszichológus", "Egyetemi tanársegéd"]'
        >
          <span class="wrap"></span>
        </span>
      </h4>
      <a href="/kapcsolat" class="btn btn-outline mt3"
        >Lépj kapcsolatba velem!</a
      >
    </div>
    <img class="home-me" src="/assets/home.png" />
  </div>

  <div class="home-bg">
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </div>

  <div class="flex items-center mw7 center intro">
    <div class="text tc primary">
      <div class="black">
        {{ .Content }}
        <p>
          Szakszerű sportpszichológiai felkészítéssel segíteni tudunk a nehéz
          helyzetekkel való megküzdési képességeden!
        </p>
      </div>
      <a class="btn btn-outline primary mb4" href="/bemutatkoz%C3%A1s">
        Tudj meg többet rólam
      </a>
      <p class="black">
        Alakítsuk ki együtt saját módszereidet, melyekkel kezelni tudod és meg
        is előzheted a felmerülő problémákat!
      </p>
      <a class="btn btn-outline primary mb1" href="/sportpszichol%C3%B3gia">
        Tudj meg többet a munkámról
      </a>
    </div>
  </div>
{{ end }}
